<div style="border-bottom: 2px solid lightgrey;display: flex;margin-top: 50px;">
  <%= link_to all_contract_pharmacies_path(hospital_name: params[:hospital_name]) do %>
      <div style="color: black;margin-left: 10px;background-color: <%= request.path.include?('contract_pharmacies') ? 'lightgreen'  : '' %>">Contract Pharmacies</div>
    <% end %>
    <%= link_to dashboard_path(hospital_name: params[:hospital_name]) do %>
      <div style="color: black;margin-left: 15px;background-color: <%= request.path.include?('dashboard') ? 'lightgreen'  : '' %>">Dashboard</div>
    <% end %>
    <%= link_to reimbursement_path(hospital_name: params[:hospital_name]) do %>
      <div style="color: black;margin-left: 15px;background-color: <%= request.path.include?('reimbursement') ? 'lightgreen'  : '' %>">Reimbursement Spread</div>
    <% end %>
  <%= link_to claim_management_path(hospital_name: params[:hospital_name]) do %>
  <div style="color: black;margin-left: 15px;background-color: <%= request.path.include?('claim_each') ? 'lightgreen'  : '' %>">Claim Management</div>
  <% end %>
   <%= link_to analytics_path(hospital_name: params[:hospital_name]) do %>
    <div style="color: black;margin-left: 15px;">Analytics</div>
  <% end %>
</div><br><br>
<center>
  <div style="width: 50%;">
    <table style="border: 2px solid black;width: 80%;">
      <thead>
        <tr>
          <th style="text-align: start">CONTRACT PHARMACY GROUP</th>
          <th style="text-align: start">NDC CODE</th>
          <th style="text-align: start">CLAIM COST</th>
          <th style="text-align: start">DATE ADDED</th>
          <th style="text-align: start">FLAG</th>
        </tr>
      <tbody>
        <% @contract_pharmacy_records.each do |details| %>
          <tr>
            <td style="padding: 10px;"><%= details.rx_file_provider_name %></td>
            <td style="padding: 10px;"><%= details.ndc %></td>
            <td style="padding: 10px;"><%= number_with_delimiter(uniq_contract_pharmacy_claim(details.ndc, params[:sort])) %></td>
            <td style="padding: 10px;"></td>
            <td style="padding: 10px; position: relative;">
              <div class="record-container">
                <svg id="dropdown-icon-<%= details.id %>" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="<%= flag_color(details)%>" viewBox="0 0 256 256" style="cursor: pointer;">
                  <path d="M232,56V176a8,8,0,0,1-2.76,6c-15.28,13.23-29.89,18-43.82,18-18.91,0-36.57-8.74-53-16.85C105.87,170,82.79,158.61,56,179.77V224a8,8,0,0,1-16,0V56a8,8,0,0,1,2.77-6h0c36-31.18,68.31-15.21,96.79-1.12C167,62.46,190.79,74.2,218.76,50A8,8,0,0,1,232,56Z"></path>
                </svg>
                <div id="dropdown-menu-<%= details.id %>" style="display: none; position: absolute; width: 350px; top: 40px; left: 0; background-color: white; border: 1px solid #ccc; box-shadow: 0px 8px 16px rgba(0,0,0,0.2); z-index: 1;">
                  <%= form_with url: update_claim_status_path(ndc: details.ndc, claim: "attempt_one"), method: :post, local: true do %>
                    <button type="submit" style="display: block; padding: 10px; text-decoration: none; color: black; background: none; border: none; width: 100%; text-align: left;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" viewBox="0 0 256 256">
                        <path d="M232,56V176a8,8,0,0,1-2.76,6c-15.28,13.23-29.89,18-43.82,18-18.91,0-36.57-8.74-53-16.85C105.87,170,82.79,158.61,56,179.77V224a8,8,0,0,1-16,0V56a8,8,0,0,1,2.77-6h0c36-31.18,68.31-15.21,96.79-1.12C167,62.46,190.79,74.2,218.76,50A8,8,0,0,1,232,56Z"></path>
                      </svg>
                      Requested recover from contract pharmacy
                    </button>
                  <% end %>
                  <%= form_with url: update_claim_status_path(ndc: details.ndc, claim: "attempt_two"), method: :post, local: true do %>
                    <button type="submit" style="display: block; padding: 10px; text-decoration: none; color: black; background: none; border: none; width: 100%; text-align: left;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange" viewBox="0 0 256 256">
                        <path d="M232,56V176a8,8,0,0,1-2.76,6c-15.28,13.23-29.89,18-43.82,18-18.91,0-36.57-8.74-53-16.85C105.87,170,82.79,158.61,56,179.77V224a8,8,0,0,1-16,0V56a8,8,0,0,1,2.77-6h0c36-31.18,68.31-15.21,96.79-1.12C167,62.46,190.79,74.2,218.76,50A8,8,0,0,1,232,56Z"></path>
                      </svg>
                      Requested recovery from contract pharmacy
                    </button>
                  <% end %>
                  <%= form_with url: update_claim_status_path(ndc: details.ndc, claim: "alternative"), method: :post, local: true do %>
                    <button type="submit" style="display: block; padding: 10px; text-decoration: none; color: black; background: none; border: none; width: 100%; text-align: left;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" viewBox="0 0 256 256">
                        <path d="M232,56V176a8,8,0,0,1-2.76,6c-15.28,13.23-29.89,18-43.82,18-18.91,0-36.57-8.74-53-16.85C105.87,170,82.79,158.61,56,179.77V224a8,8,0,0,1-16,0V56a8,8,0,0,1,2.77-6h0c36-31.18,68.31-15.21,96.79-1.12C167,62.46,190.79,74.2,218.76,50A8,8,0,0,1,232,56Z"></path>
                      </svg>
                      Pursue alternative options for recovery
                    </button>
                  <% end %>
                </div>
              </div>
            </td>
            <!-- <td>< %= '$' + number_with_delimiter(claim_count(details)) %></td> -->
            <!-- <td>< %= '$' + number_with_delimiter(correctly_paid_claim(details)) %></td> -->
            <!-- <td>< %= number_with_delimiter(under_paid_claim(details)) %></td> -->
            <!-- <td style="color: blue;font-weight: bold;">< %= link_to each_contract_pharmacy_path(hospital_name: details) do %> View Claims< % end %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <% if @contract_pharmacy_records.respond_to?(:total_pages) %>
    <div id="paginationContainer">
      <%= paginate @contract_pharmacy_records, param_name: 'drug_page' %>
    </div>
  <% end %>
</center>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const records = document.querySelectorAll('.record-container');

  records.forEach(function(record) {
    const id = record.querySelector('svg').id.split('-').pop();

    document.getElementById('dropdown-icon-' + id).addEventListener('click', function() {
      var dropdown = document.getElementById('dropdown-menu-' + id);
      dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    });

    // Optional: Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.closest('#dropdown-icon-' + id) && !event.target.closest('#dropdown-menu-' + id)) {
        var dropdown = document.getElementById('dropdown-menu-' + id);
        dropdown.style.display = 'none';
      }
    };
  });
});

</script>
